@import '~bootstrap/dist/css/bootstrap.min.css';

.container-fluid {

    .footer{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            margin: auto;
            padding-right: 15px;
    }
}